.dropdown-label {
    display:block;
    font-size: small;
    margin-left: .5rem;
    color: #767676;
}

.dropdown-item:hover {
    cursor:pointer;
}

.button {
    text-align: left;
}

.dropdown-menu {
    margin-left: .5rem;
}
