@use '@common';

.profile {
  background: #FFFFFF;
  color: $colorPrimary;
  border: 1px solid $colorPrimary;
}

.profileContainer {
  position: relative;
  flex-direction: row;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: $primaryBackground;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}