.ticket-modal-header {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    gap: .5rem; 
    height: 4rem;
}

.ticket-modal-footer {
    gap: .3rem;
    display: flex;
    flex-direction: row-reverse;
}

.ticket-modal-body {
    display:flex;
}

.ticket-status {
    margin-left:auto;
}