.error-page {
    font-size: 1rem;
    display: flex;
}

.pset {
    font-size: 4rem;
    margin-right: 84rem;
    display: flex;
}

.firstRow {
    display: flex;
    gap: .5rem;
    margin-right: 40rem;

}

.secondRow {
    display: flex;
    gap: 10rem;

}

.emailtitle {
    display: flex;
    margin-right: 82rem;
}

.email {
    font-size: 2rem;
}

.name {
    width: 600px;
    height: 150px;
}

.pronouns {
    width: 600px;
    height: 150px;
}

.bio {
    width: 600px;
    height: 300px;
}

.updateprofilebutton {
    margin-left: -100rem;
}