.error-page {
    font-size: 1rem;
    display: flex;
}

.pset {
    font-size: 4rem;
    margin-right: 84rem;
    display: flex;
}

.email {
    font-size: 2rem;
    margin-right: 80rem;
    margin-bottom: 1rem;
    display: flex;
}

.name {
    width: 600px;
    height: 150px;
    margin-top: .2rem;;
    margin-left: -72rem;
}

.pronouns {
    width: 600px;
    height: 150px;
    margin-top: .2rem;;
    margin-left: -72rem;
}

.bio {
    width: 600px;
    height: 300px;
    margin-top: .2rem;;
    margin-left: -72rem;
}

.updateprofilebutton {
    margin-left: -100rem;
}