
.pset {
    font-size: 4rem;
    margin-left: 0rem;
    padding-left: 5rem;
    background-color: #3e8ed0; 
    border-radius: 1rem;   
    color: #FFFFFF;
}

.navbar-start {
    color: #3e8ed0;
}

.rightSide {
    margin-left: 5rem;
}

.email {
    font-size: 2rem;
}

.control1{
    color: #FFFFFF;
}

.name {
    width: 600px;
    height: 150px;
}

.pronouns {
    width: 50rem;
}

.bio {
    width: 600px;
}

.updateprofilebutton {
    color :  #3e8ed0;
}

.logo {
    margin-left: 15rem;

}

.navBar{
    background-color: #3e8ed0; 
    border-radius: 1rem;   
    color: #FFFFFF;
}