.dropdown-label {
    display:block;
    font-size: small;
    margin-left: .5rem;
    color: #767676;
}

.dropdown-item:hover {
    cursor:pointer;
}

.dropdown-menu {
    margin-left: .5rem;
}

.button.has-text-left {
    justify-content: flex-start;

}

.no-items-text {
    opacity: 0.5;
}

i {
    margin-left: auto;
}