.navigationContainer {
  display: grid;
  grid-template-columns: 1fr 9fr;
  height: 1080px;
}

.sidebarMenu {
  border-right: 2px var(--borderColor) solid;
}

.navbarContainer {
  border-bottom: 2px var(--borderColor) solid;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.searchBarContainer {
  padding: 0.375rem 1rem;
  white-space: nowrap;
  flex-grow: 9;
}

.hasDividerLeft {
  border-left: 2px var(--borderColor) solid;
}

.emblemContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  min-width: 185px;
}
