.navigationContainer {
  display: flex;
}

@media screen and (max-width: 1003px) {
  .sidebarMenu {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    top: var(--navbarHeight);
    position: fixed;
    z-index: 3;
    background: var(--primaryBackground);
    height: calc(100vh - var(--navbarHeight));
    flex: 1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px var(--shadowColor) ;
  }
  .menuHidden{
    display: none;
  }
}

@media screen and (min-width: 1004px) {
  .sidebarMenu {
    top: var(--navbarHeight);
    position: sticky;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-right: 1px var(--borderColor) solid;
    height: calc(100vh - var(--navbarHeight));
    min-width: var(--navbarTitleWidth);
    overflow: auto;
  }
  .menuHidden{
  }
}

.navbarContainer {
  position: sticky;
  top: 0;
  border-bottom: 1px var(--borderColor) solid;
  height: var(--navbarHeight);
}

.viewContainer {
  flex: 11;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.searchBarContainer {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  flex-grow: 9;
}

.hasDividerLeft {
  border-left: 1px var(--borderColor) solid;
}

.emblemContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  min-width: 185px;
}

.iconTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.bellContainer {
  font-size: 30px;
}
