// Importing Bulma
@import '~bulma';

// Custom common rules
[v-cloak] { display: none; } /* used to hide pages while Vue loads content */

.sluggo_pinned_ticket {
    cursor: pointer;
}

// Custom rules for elements
.welcome {
    margin-bottom: 10px;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: rgba(54, 54, 54, 0.7);
}
.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.7);
}
.input:-moz-placeholder,
.textarea:-moz-placeholder {
  color: rgba(54, 54, 54, 0.7);
}
.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.7);
}

.sluggo_hp_tag {
    cursor: pointer;
}

.sluggo_clickable {
    cursor: pointer;
}

:root {
  --borderColor: #AAAAAA;
  --primaryBackground: #FFFFFF;
  --secondaryBackground: #EEEEEE;
  --colorPrimary: hsl(229, 53%,  53%);
  --textColor: black;
}