.mainHomeContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background: var(--secondaryBackground);

  h1 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1rem;
  }
}

.centerView {
  flex: 3 3;
  min-width: 650px;
}

.sideView {
  flex: 1 1;
  background: var(--secondaryBackground);
  border-left: 1px var(--borderColor) solid;
  width: 200px;
}

.homepageMessage {
  border-bottom: 1px var(--borderColor) solid;
  background: var(--primaryBackground);
  padding: 1rem 1rem 1rem 1rem;
}

.ticketsSection {
}

.rowContainer {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;

  .cell {
    flex: 5 0;
    color: white;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .iconCell {
    @extend .cell;
    flex: 1 0 1rem;
  }

  .titleCell {
    @extend .cell;
    max-width: none;
    color: white;
    flex: 5 0 15rem;
  }


}

.dataContainer {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}