.error-default-message{
  position:relative;
  font-size: x-large;
  top: 40vmin;
  width: 70vmin;
  left: 590px;
}

.error-home-button{
  border: 1px var(--borderColor) solid;
  background-color: var(--colorPrimary);
  position: absolute;
  color: white;
  border-radius: 8px;
  width: 30vmin;
  top: 47vmin;
  left: 84vmin;
  
  &:hover{
    background: var(--borderColor);
    color: var(--colorPrimary);
    cursor: pointer;
    }
  }

